
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;


}

button {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-radius: 40px;
    font-size: .90em;
    font-weight: 600;
    /*box-shadow: 0px 2px 5px #C6C6C6;*/
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 14% 0 14%;
  width: 80vw;
  height: auto;
}

article {
  width: 37.5vw;
  height: auto;
  margin-bottom: 10%;
}


h1 {
  font-size: 2.125em;
  text-decoration-line: underline;
  text-decoration-color: #5FBAF7;
  text-decoration-style: solid;
  padding-top: 0.65em;
  padding-bottom: 0.25em;
}

h2 {
  font-weight: 200;
  font-size: 1.375em;
}

h3 {
  margin-top: 2%;
}

h4 {
  margin-top:-3%;
  margin-bottom: 15%;
}


p {
  font-weight: 200 ;
  font-size: 0.88em;
  line-height: 1.5em;
}

a {
  color: #5FBAF7;
  text-decoration: none;
}

ul {
  margin-top: -0.6em;
  height: auto;
}

ul li {
  line-height: 2.7em;
  margin-left: -1.25em;
  height: auto;

}

footer {
  min-height: 10em;
  background-color: #323334;
  color: white;
}


.Splendidlogo {
  width: 12.500em;
  height: 100%;
  margin-left: -1%;
}

.strapline {
  margin-bottom: 1em;
}

.banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 430px;

}
.greyblock {
  background-color: #323334;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ourclientlist{
  display: flex;
  margin: 3% 14% 10% 14%;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  height: auto;
}

.casestudies{
  width: 20vw;
  height: 30.625em;
  list-style: none;
  color: white;
  margin: 0;
  height: auto;
}

.whiteheadline {
  height: 6.05em;
  margin-left: 14%;
  color: white;
}

.interested {
  color: white;
  margin-top: 2em;
  margin-bottom: -1em;
}

.casestudy {
  width: 20vw;
  margin-bottom: 5%;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  margin: 0 0 10% 0;
  height: auto;
}

.teammembers {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 16vw;
  height: auto;

}

.members {
  width: 15vw;
  margin-bottom: 1em;
}


.social {
  width: 12.5%;
  margin-right: 0.5em;
  margin-top: -20%;
}

.whitesocial {
  width: 7%;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 7.10em;
}

.aboutus {
  background-image: url(../images/backgroundplaceholder.png);
  width: 100vw;
  height: 80%;
}


.contactus {
  margin-top: 1em;
}

.contactdetials {
  width: 37.5vw;
  height: auto;
  margin-bottom: 5%;
}

.contactsocial {
  width: 37.5vw;
  height: auto;
  margin-bottom: 5%;
}



/*mobile*/
@media screen and (min-width: 20.000em) and (max-width: 37.500em) {

.Splendidlogo {
  width: 15.00em;
  height: 100%;
  margin: 0 auto -1em auto;
}

button {
  position: absolute;
  margin-left: -7em;
  margin-top: 22em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}


ul li {
  line-height: 2.00em;
  margin-left: -1.25em;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 14% 0 14%;
  width: 80vw;
}

article {
  width: 70.5vw;
  height: auto;
  margin-bottom: 10%;
}

h2 {
  position: absolute;
  margin-left: -2em;
  margin-top: 2.5em;
  color: white;
  font-size: 1.9em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  line-height: 1.3em;
  z-index:1000;
}

h3 {
  font-size: 1.5em;
  margin-top: 0.2em;
}

h4 {
  font-size: 1.25em;
  margin-top: -1.25em;
}

p {
  font-weight: 200 ;
  font-size: 1em;
  line-height: 1.5em;
}


.ourclientlist{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
}

.casestudies {
  width: 70.5vw;
  margin-top: 10%;
}

.casestudy {
  width: 70.5vw;
  margin-top: 10%;
}



.whitesocial {
  width: 15%;
  margin-right: 2em;
  margin-left: 0em;
  margin-top: 0em;
}

.interested {
  color: white;
  margin-top: 2em;
  margin-bottom: -3em;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70vw;
  margin: 0 0 10% 0;
  height: auto;
}

.teammembers {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 70vw;
  height: auto;

}

.members {
  width: 70vw;
  margin-bottom: 1em;
}


.contactdetials {
  width: 70.5vw;
  height: auto;
  margin-bottom: 5%;
}

.contactsocial {
  width: 70.5vw;
  height: auto;
  margin-bottom: 5%;
}

}


/*tablet*/
@media screen and (min-width:  37.500em) and (max-width: 64.000em) {

h2 {
  font-weight: 200;
  font-size: 1.3em;
}


article {
  width: 75vw;
  height: auto;
  margin-bottom: 10%;
}

p {
  font-weight: 200 ;
  font-size: 1em;
  line-height: 1.5em;
}

h3 {
  font-weight: 600;
  font-size: 1.65em;
  margin-bottom: 3%;
}

h4 {
  margin-top:0;
  margin-bottom: 14%;
  font-size: 1.2em;
}


ul {
    margin-top: -0.6em;
    margin-bottom: 5%;

}

ul li {
  line-height: 2.7em;
  height: auto;
  font-size: 1.2em;
  margin-left: -1.25em;
}

.ourclientlist{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70vw;
}

.casestudies {
  width: 71.5vw;
  height: auto;
  list-style: none;
  color: white;
  margin: 4% 0;
}

.casestudy {
  width: 71.5vw;
}


.whitesocial {
  width: 7%;
  margin-right: 2em;
  margin-left: 0em;
  margin-top: 4.10em;
  margin-bottom: 2em;
}




.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70vw;
  margin: 0 0 10% 0;
  height: auto;
}

.teammembers {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 30vw;
  height: auto;

}

.members {
  width: 30vw;
  margin-bottom: 1em;
}

.social {
  width: 12.5%;
  margin-right: 0.5em;
  margin-top: -20%;
}

.contactdetials {
  width: 75vw;
  height: auto;
  margin-bottom: 5%;
}

.contactsocial {
  width: 75vw;
  height: auto;
  margin-bottom: 5%;
}

}

@media screen and (min-width : 1824px) {

p {
  font-weight: 200 ;
  font-size: 1.5em;
  line-height: 2em;
}

h1 {
  font-size: 3em;
  text-decoration-line: underline;
  text-decoration-color: #5FBAF7;
  text-decoration-style: solid;
  padding-top: 0.65em;
  padding-bottom: 0.25em;
}

h2 {
  font-weight: 200;
  font-size: 3em;
  margin-left: 0;
}

h3 {
  margin-top: 1%;
  font-size: 2em;
}

h4 {
  margin-top:-5%;
  margin-bottom: 20%;
  font-size: 1.7em;
}

.banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 700px;

}

button {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    width: 300px;
    height: 75px;
    margin: auto;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-radius: 60px;
    font-size: 1.5em;
    font-weight: 600;
    /*box-shadow: 0px 2px 5px #C6C6C6;*/
}

ul {
  margin-top: -0.6em;
  height: auto;
}

ul li {
  line-height: 2.7em;
  font-size: 1.7em;
  margin-left: 0em;
  height: auto;

}

.Splendidlogo {
  width: 22.500em;
  height: 100%;
  margin-left: -1%;
}

.contactus {
  margin-top: 1em;
  height: auto;
}

.contactdetials {
  width: 37.5vw;
  height: auto;
  margin-bottom: 10%;
}

.contactsocial {
  width: 37.5vw;
  height: auto;
  margin-bottom: 10%;
}

.whitesocial {
  width: 7%;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 17.10em;
}


}
